<main class="container">
  <div class="content" role="main">
    <!-- Resources -->
    <h2>Interview Questions</h2>
    <p>Here are some links to help you get started:</p>

    <div class="card-container">
      <app-button
        [buttonText]="'Angular Interview Questions'"
        [link]="'/questions-and-answers'"
        [param]="'angular'"
      ></app-button>
      <app-button
        [buttonText]="'React Interview Questions'"
        [link]="'/questions-and-answers'"
        [param]="'react'"
      ></app-button>
    </div>
    <div class="content" role="main">
      <!-- Resources -->
      <h2>Tech Topics</h2>
      <p>Here are some links to help you get started:</p>

      <div class="card-container">
        <app-button
          [buttonText]="'Angular Interview Questions'"
          [link]="'/questions-and-answers'"
          [param]="'angular'"
        ></app-button>
        <app-button
          [buttonText]="'React Interview Questions'"
          [link]="'/questions-and-answers'"
          [param]="'react'"
        ></app-button>
      </div>
    </div>
  </div>
</main>
